@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

section{
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
}
section .image{
	position: relative;
	width: 50%;
	height: 100%;
}

section .image:before{
	position: relative;
	width: 50%;
	height: 100%;
}

section .image img{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff
	z-index: 1;
	mix-blend-mode: screen;
}

section .login{
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

section .login .formbox{
	width: 50%;
}

section .login .formbox h2{
	color: #607d8b;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 4px solid #ff4584;
	display: inline-block;
	letter-spacing: 1px;
}

section .login .formbox .input{
	margin-bottom: 20px;
}

section .login .formbox .input span{

	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	color: #607d8b;
	font-weight: 500;
	letter-spacing: 1px;
}

section .login .formbox .input input{
	width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 30px;
}
section .login .formbox .input1 textarea{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border: 1px solid #607d8b;
	font-size: 16px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 10px;
}

section .login .formbox .input input[type="submit"]{
	background: #ff4584;
	color: #fff;
	outline: none;
	font-weight: 500;
	border: none;
	cursor: pointer;
}
section .login .formbox .input input[type="submit"]:hover{
	background: #f53677;
}

section .login .formbox .remember{
	margin-bottom: 10px;
	color: #607d8b;
	font-weight: 400;
	font-size: 14px;
}

section .login .formbox .input p{
	color: #607d8b;
}

section .login .formbox .input p a{
	color: #ff4584;
}

section .login .formbox h3{
	color: #607d8b;
	text-align: center;
	margin: 40px 0px 10px ;
	font-weight: 500;
}

section .login .formbox .social{
	display: flex;
	justify-content: center;
	align-items: center;
}

section .login .formbox .social li{
	list-style: none;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #607d8b;
	border-radius: 50%;
	margin: 0 7px;
	cursor: pointer;
}

section .login .formbox .social li:hover{
	background: #ff4584;
}

section .login .formbox .social li img{
	transform: scale(0.5);
	filter: invert(1);
}

@media (max-width: 768px){
	section .image img{
	
	background: linear-gradient(225deg,#e91e63,#03a9f4);
}

	section .image{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	section .login{		
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	section .login .formbox{		
		width: 100%;
		height: 90%;
		padding: 40px;
		background: rgba(255, 255, 255, 0.9); 
		margin: 50px;

	}

	section .login .formbox h3{
	color: #607d8b;
	text-align: center;
	margin: 30px 0px 10px ;
	font-weight: 500;
}
}